@model IEnumerable<OnlineMovieBooking.ViewModels.ShowViewModel>

@{
    ViewBag.Title = "SelectShowByMovie";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}





    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model =>model.CinemaHallId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CinemaHallId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>

                    @Html.ActionLink("Select Seat", "SelectSeat", new { id = item.ShowId })

                </td>
            </tr>
        }

    </table>


