@model IEnumerable<OnlineMovieBooking.Models.Cinema>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectCinemaByCity</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
  
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                
                @Html.ActionLink("Select", "SelectShowByCinema", new { id=item.CinemaId }) 
               
            </td>
        </tr>
    }
    
    </table>
    @Html.ActionLink("Back","SelectCity")
</body>
</html>
