@model OnlineMovieBooking.Models.CinemaSeat

@{
    ViewBag.Title = "Details";
}

<h2>Cinema Seat Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinemaHall.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaHall.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CinemaSeatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
