<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-MovieBox</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("The Movie Box", "Movies", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin")
                    {
                        <script type="text/javascript" language="javascript">
    function DisableBackButton() {
                                window.history.forward()
                            }
                            DisableBackButton();
                            window.onload = DisableBackButton;
                            window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
                            window.onunload = function () { void (0) }
                        </script>
                        <li>@Html.ActionLink("SignOut", "SignOut", "UserLogin")</li>
                        <li><span class="navbar-text font-weight-bold ">Welcome @User.Identity.Name</span></li>

                    }
                    else if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("SignOut", "SignOut", "UserLogin")</li>
                        <li><span class="navbar-text font-weight-bold ">Welcome @User.Identity.Name</span></li>
                    }
                    else
                    {
                        <script type="text/javascript" language="javascript">
                            function DisableBackButton() {
                                window.history.forward()
                            }
                            DisableBackButton();
                            window.onload = DisableBackButton;
                            window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
                            window.onunload = function () { void (0) }
                        </script>
                        <li>@Html.ActionLink("Movies", "", "Login")</li>
                        <li>@Html.ActionLink("Sign Up", "SignUp", "UserLogin")</li>
                        <li>@Html.ActionLink("Login", "Login", "UserLogin")</li>
                        <li>@Html.ActionLink("Admin", "Admin", "UserLogin")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-dark">&copy; @DateTime.Now.Year - The Movie Box</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
