<div class="navbar navbar-inverse">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
            <li>@Html.ActionLink("Users", "Index", "Users")</li>
            <li>@Html.ActionLink("Cinema Halls", "Index", "CinemaHalls")</li>
            <li>@Html.ActionLink("Shows", "Index", "Shows")</li>
            <li>@Html.ActionLink("Show Seats", "Index", "ShowSeats")</li>
            <li>@Html.ActionLink("Payments", "Index", "Payments")</li>
            <li>@Html.ActionLink("Feedbacks", "index", "Feedbacks")</li>
        </ul>
    </div>
</div>
